html
    head
        link(rel="stylesheet" href="/ex1.css")


    body

        div.container1
            header #{placeholder1}

            maincontent .maincontent

            sidebar .sidebar

            twin1 .twin1

            twin2 .twin2

            footer #{placeholder2}
