html
    head
        link(rel="stylesheet" href="/ex2.css")


    body.container2
        div
            header
                h1 #{template}

            aside
                h1 two

            section
                h1 three

            bottomleft
                h1 four

            bottomright
                h1 five